certifi==2020.11.8
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.4
comtypes==1.1.7
distlib==0.3.1
dlib==19.21.0
filelock==3.0.12
Flask==1.1.2
flask-sqlalchemy==2.4.4
Flask-MySQLdb==0.2.0
gunicorn==20.0.4
identify==1.5.10
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
libcst==0.3.14
lxml==4.6.1
MarkupSafe==1.1.1
mypy-extensions==0.4.3
mysqlclient==2.0.1
nodeenv==1.5.0
numpy==1.18.1
packaging==20.4
pandas==1.0.3
pickle-mixin==1.0.2
pluggy==0.13.1
pre-commit==2.9.0
py==1.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2020.4
PyYAML==5.3.1
requests==2.23.0
six==1.15.0
sklearn==0.22.2.post1
SpeechRecognition==3.8.1
toml==0.10.2
tox==3.20.1
translate==3.5.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
virtualenv==20.2.1
Werkzeug==1.0.1