<!DOCTYPE html>
<html  lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <title>Flask App </title>

    <!-- Charlist-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style type="text/css">
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
  
	.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle {
  stroke: #4CC790;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
body > #bg{
  height: 100%;
  width: 100%;
  background: #37517E;
    clip-path: polygon(100% 0, 100% 23%, 0 76%, 0 0);

  position: absolute;
  z-index: -1;
}
.logo img{
    width:80%;
    height:120px;
  }
</style>
  </head>
<body>

<table width="100%">
    <tr>
    <td colspan  = "8" align="center" width="100%">
      <div class = "logo">
      <img src = "{{url_for('static',filename = 'images/unnamed.png')}}"></div>
    </td>
  </tr>
  <tr>
    <td align="center" width="50%" height="50px;" colspan="4">
    </td>
    <td  align="center" width="50%" colspan="4">
    </td>
  </tr>
  <tr><td colspan="8" align="center" width="100%">
    <ul class="nav justify-content-center">
    <ul class="nav nav-pills">
   <li class="nav-item">
    <a class="nav-link" href="/" style=" color: black;">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/checkmarks" style=" color: black;">Mid Marks</a>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-primary">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
</svg>
                <a href = "/dashboard" style="color: white;text-decoration: none;">Dashboard</a>
              </button>
  </li>
  
</ul></ul>
  </td></tr></table>

  <tr><td colspan="8"  height="20px;"></td></tr>
    <table  width="100%" border="2px solid black">
		<tr><td colspan="8" width="100%" align="center"><h2 style="font-family: 'Poppins', sans-serif;"><b>Today Attendence Details for {{reg}}</b></h2></td></tr>
		<tr><td width="50%" align="center" colspan="4" style="font-family: 'Poppins', sans-serif;">
			{% for i in hour %}
			<b>{{i}}</b><br>
			{% endfor %}

		</td>
		<td width="50%"  colspan="4" style="font-family: 'Poppins', sans-serif;">
			{% for j in status %}
			<b>{{j}}</b><br>
			{% endfor %}
		</td>
	</tr>
	<tr>
		<td width="50%" align="center" colspan="4"><h4 style="font-family: 'Poppins', sans-serif;"><b>Today Attendence Percentage</h4></td>
		<td width="50%" colspan="4">
			<svg viewBox="0 0 36 36" class="circular-chart">
  <path class="circle"
    stroke-dasharray="{{per}}, 100"
    d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
  />
  <text x="8.5" y="20" class="percentage" style = "font-size: 10px;">{{per}}%</text>
</svg>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="4" style="font-family: 'Poppins', sans-serif;">
			{% for i in ac %}
			<b>{{i}} in this month/hour<br>
			{% endfor %}
		</td>
		<td colspan="4" style="font-family: 'Poppins', sans-serif;">
			{% for j in pc %}
			<b>{{j}}<br>
			{% endfor %}
		</td>

	</tr>
<tr><td colspan = "8" align = "center" height = "120px"><a href = "/monthattend" style="color: #F18D8D;">Check Previous Months attendence!!</a></td></tr>



<tr><td colspan="8" width="100%" style="font-family: 'Poppins', sans-serif;">
		<h3><b>Graphical Representation</h3>
<div class="ct-chart ct-perfect-fourth" style="height: 300px;"></div>
  <script>
    class MyCharts{

      constructor(xData, YData)
      {
        this.XData = XData;
        this.YData = YData;
      }

      createGraph()
      {
        var data =
                {
                  labels: this.XData,
                  series:[
                          this.YData
                  ]
                }
        new Chartist.Bar('.ct-chart', data);
      }
    }

  var XData= ['1st hr', '2nd hr', '3rd hr', '4th hr', '5th hr', '6th hr', '7th hr'];
    var YData = [5, 2, 4, 2, 0];
    var data = $.get('/attendcheck');
    var tm = data.done(function (resp) {
      console.log("JSON DATA", resp.status);
      var obj = new MyCharts(XData, resp.status);
      obj.createGraph();

    })


  </script>
</td></tr>

</table>
</body>
</html>
