<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Radio Buttons</title>
	<style type="text/css">
	body{
		background-color: white;
	}
	.logo img{
		width:80%;
		height:120px;
	}
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</head>
<body>
<table width="100%" >
	<tr>
		<td colspan  = "2" align="center" width="100%">
			<div class = "logo">
			<img src = "{{url_for('static',filename = 'images/unnamed.png')}}"></div>
		</td>
	</tr>
	<tr>
		<td align="center" width="50%" height="50px;">
		</td>
		<td  align="center" width="50%">
		</td>
	</tr>
	<tr><td colspan="2" align="center" width="100%">
		<ul class="nav justify-content-center">
		<ul class="nav nav-pills">
   <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/checkmarks">Mid Marks</a>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-primary">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
</svg>
                <a href = "/dashboard" style="color: white;text-decoration: none;">DashBoard</a>
              </button>
  </li>
  
</ul></ul>
	</td></tr>
	<tr>
		<td align="center" width="50%" height="50px;">
		</td>
		<td  align="center" width="50%">
		</td></tr></table>

<center>
<form action = '/cnpaper' method="POST">	
{% for item in lst2 %}
<table width="100%" >
		<tr><td align="center" width="100%" >
{% if item == 0 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">Which transmission media provides the highest transmission speed in a network?</label><br>
	<input type="radio" name="options0" value="a">Coaxial<br>
	<input type="radio" name="options0" value="b">Twisted pair<br>
	<input type="radio" name="options0" value="c">Optical Fibers<br>
	<input type="radio" name="options0" value="d">Electric Cable<br></td></tr>
<tr><td height="15px"></td></tr>
{% elif item == 1 %}
		<tr><td align="center" width="100%">
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">Bits can be sent over guided and unguided media as analog signal by ___________</label><br>
	<input type="radio" name="options1" value="a">Digital modulation<br>
	<input type="radio" name="options1" value="b">Amplitude modulation
<br>
	<input type="radio" name="options1" value="c">Frequency modulation
<br>
<input type="radio" name="options1" value="c">Phase modulation

<br>
</td></tr>
<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item ==2 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">The data link layer takes the packets from _________ and encapsulates them into frames for transmission.</label><br>
	<input type="radio" name="options2" value="a">Network Layer<br>
	<input type="radio" name="options2" value="b">Physical Layer<br>
	<input type="radio" name="options2" value="c">Transport Layer<br>
	<input type="radio" name="options2" value="d">Application Layer<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 3 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">CRC stands for __________</label><br>
	<input type="radio" name="options3" value="a">cyclic redundancy check-<br>
	<input type="radio" name="options3" value="b">code repeat check
<br>
	<input type="radio" name="options3" value="c">code redundancy check
<br>
	<input type="radio" name="options3" value="d">cyclic repeat check<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 4 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">The network layer is concerned with __________ of data.</label><br>
	<input type="radio" name="options4" value="a">Bits<br>
	<input type="radio" name="options4" value="b">Frames<br>
	<input type="radio" name="options4" value="c">Packets<br>
	<input type="radio" name="options4" value="d">Bytes<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 5 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">A 4 byte IP address consists of __________</label><br>
	<input type="radio" name="options5" value="a">only network address<br>
	<input type="radio" name="options5" value="b">only host address
<br>
	<input type="radio" name="options5" value="c">network address & host address-
<br>
	<input type="radio" name="options5" value="d">network address & MAC address
<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 6 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">Transport layer aggregates data from different applications into a single stream before passing it to ____________
</label><br>
	<input type="radio" name="options6" value="a">Network Layer<br>
	<input type="radio" name="options6" value="b">DataLink Layer<br>
	<input type="radio" name="options6" value="c">Application Layer<br>
	<input type="radio" name="options6" value="d">Physical Layer<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 7 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">
Which of the following are transport layer protocols used in networking?</label><br>
	<input type="radio" name="options7" value="a">TCP and FTP<br>
	<input type="radio" name="options7" value="b">UDP and HTTP
<br>
	<input type="radio" name="options7" value="c">TCP and UDP<br>
	<input type="radio" name="options7" value="d">HTTP and FTP
<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 8 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">Retransmission of packets must not be done when _______</label><br>
	<input type="radio" name="options8" value="a">Packet is Lost<br>
	<input type="radio" name="options8" value="b">Packet is corrupt<br>
	<input type="radio" name="options8" value="c">Packet is Needed<br>
	<input type="radio" name="options8" value="d">Packet is error free<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 9 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">In Go-Back-N window, when the timer of the packet times out, several packets have to be resent even some may have arrived safe. Whereas in Selective Repeat window, the sender resends ___________</label><br>
	<input type="radio" name="options9" value="a">Packet which are not lost<br>
	<input type="radio" name="options9" value="b">Only those packets which are lost or corrupted<br>
	<input type="radio" name="options9" value="c">Packet from starting<br>
	<input type="radio" name="options9" value="d">All the packets<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 10 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">Communication between a computer and a keyboard involves ______________ transmission.</label><br>
	<input type="radio" name="options10" value="a">Automatic<br>
	<input type="radio" name="options10" value="b">Half Duplex<br>
	<input type="radio" name="options10" value="c">Full Duplex<br>
	<input type="radio" name="options10" value="d">Simplex<br></td></tr>
	<tr><td height="15px"></td></tr>

{% endif %}

{% endfor %}
</table>
<input type="submit" value=submit style="margin-bottom:  10px;" class="btn btn-primary"></form></center>
</body>
</html>
