<!DOCTYPE html>
<html>
<head>
	<title>Score</title>
	<style type="text/css">
		.container{
			margin: 30px;
		}
	</style>
</head>
<body>
	<div class = 'container'>
	<center>
<h1>Your score is {{score}}</h1>
<h2 style="color: {{color}}">{{message}}</h2>
<h3>Check Your Incorrect questions here!!⬇</h3>
<table>
<form action = '/radio' method="POST">	
{% for item in lst2 %}
{% for dict in wrong1 %}
{% for key,vals in dict.items() %}


{% if item == 0 %}
{% if key == 0 %}
<table>
	<tr><td height="15px"></td></tr>
	<tr><td>
<label>What is the 16-bit compiler allowable range for integer constants?</label><b style="color: green;">Correct answer is {{vals}}</b><br>
	<input type="radio" name="options0" value="a">-3.4e38 to 3.4e38<br>
	<input type="radio" name="options0" value="b">-32767 to 32768
<br>
	<input type="radio" name="options0" value="c">-32668 to 32667
<br>
	<input type="radio" name="options0" value="d">-32768 to 32767
<br>{% endif %}</td></tr>
<tr><td height="15px"></td></tr>
<tr><td>
{% elif item == 1 %}
{% if key == 1 %}
<label>In the C language, the constant is defined _______.</label><b style="color: green;">Correct answer is {{vals}}</b><br>
	<input type="radio" name="options1" value="a">Before main
<br>
	<input type="radio" name="options1" value="b">After main

<br>
	<input type="radio" name="options1" value="c">Anywhere, but starting on a new line.

<br>
<input type="radio" name="options1" value="d">None of the these.


<br></td>{% endif %}</tr>
<tr><td height="15px"></td></tr>
<tr><td>


{% elif item ==2 %}
{% if key == 2 %}
<label style="background-color: #B6D3EF;">main()<br>  
{printf("AKRG VL");<br>  
main();}<br> </label><br>
<label>What will be the output of this program?</label><b style="color: green;">Correct answer is {{vals}}</b><br>
	<input type="radio" name="options2" value="a">Wrong statement<br>
	<input type="radio" name="options2" value="b">It will keep on printing AKRG VL<br>
	<input type="radio" name="options2" value="c">It will Print AKRG VL once
<br>
	<input type="radio" name="options2" value="d">None of the these
<br>{% endif %}</td></tr>
	<tr><td height="15px"></td></tr>
	<tr><td>

{% elif item == 3 %}
{% if key == 3 %}
<label>Which one of the following is a loop construct that will always be executed once?</label><b style="color: green;">Correct answer is {{vals}}</b><br>
	<input type="radio" name="options3" value="a">For<br>
	<input type="radio" name="options3" value="b">Which
<br>
	<input type="radio" name="options3" value="c">Switch
<br>
	<input type="radio" name="options3" value="d">do while<br>{% endif %}</td></tr>
	<tr><td height="15px"></td></tr>
	<tr><td>

{% elif item == 4 %}
{% if key == 4 %}
<label>How many bytes does "int = D" use?</label><b style="color: green;">Correct answer is {{vals}}</b><br>
	<input type="radio" name="options4" value="a">0<br>
	<input type="radio" name="options4" value="b">1<br>
	<input type="radio" name="options4" value="c">2 or 4<br>
	<input type="radio" name="options4" value="d">10<br>{% endif %}</td></tr>
	<tr><td height="15px"></td></tr>
	<tr><td>

{% elif item == 5 %}
{% if key == 5 %}
<label> A pointer is a memory address. Suppose the pointer variable has p address 1000, and that p is declared to have type int*, and an int is 4 bytes long. What address is represented by expression p + 2?</label><b style="color: green;">Correct answer is {{vals}}</b><br>
	<input type="radio" name="options5" value="a">1002<br>
	<input type="radio" name="options5" value="b">1004
<br>
	<input type="radio" name="options5" value="c">1006
<br>
	<input type="radio" name="options5" value="d">1008
<br>{% endif %}</td></tr>
	<tr><td height="15px"></td></tr>
	<tr><td>

{% elif item == 6 %}
{% if key == 6 %}
<label style="background-color: #B6D3EF;">for(j = 1; j <= 10; j = j-1)
</label><br>
<label>How many times will the above loop execute?
</label><b style="color: green;">Correct answer is {{vals}}</b><br>
	<input type="radio" name="options6" value="a">Forever<br>
	<input type="radio" name="options6" value="b">Never<br>
	<input type="radio" name="options6" value="c">0<br>
	<input type="radio" name="options6" value="d">1<br>{% endif %}</td></tr>
	<tr><td height="15px"></td></tr>
	<tr><td>

{% elif item == 7 %}
{% if key == 7 %}
<label>
Directives are translated by the</label><b style="color: green;">Correct answer is {{vals}}</b><br>
	<input type="radio" name="options7" value="a">Pre-processor
<br>
	<input type="radio" name="options7" value="b">Compiler
<br>
	<input type="radio" name="options7" value="c">Linker<br>
	<input type="radio" name="options7" value="d">Editor
<br>{% endif %}</td></tr>
	<tr><td height="15px"></td></tr>
	<tr><td>

{% elif item == 8 %}
{% if key == 8 %}
<label>Why is a macro used in place of a function?</label><b style="color: green;">Correct answer is {{vals}}</b><br>
	<input type="radio" name="options8" value="a">It reduces execution time.
<br>
	<input type="radio" name="options8" value="b">It reduces code size.
<br>
	<input type="radio" name="options8" value="c">It increases execution time.
<br>
	<input type="radio" name="options8" value="d">It increases code size.
<br><br>{% endif %}</td></tr>
	<tr><td height="15px"></td></tr>
	<tr><td>

{% elif item == 9 %}
{% if key == 9 %}
<label>What is a lint?</label><b style="color: green;">Correct answer is {{vals}}</b><br>
	<input type="radio" name="options9" value="a">C compiler
	<br>
	<input type="radio" name="options9" value="b">Interactive debugger
<br>
	<input type="radio" name="options9" value="c">Analyzing tool
<br>
	<input type="radio" name="options9" value="d">C interpreter
<br>{% endif %}</td></tr>
	<tr><td height="15px"></td></tr>
	<tr><td>

{% elif item == 10 %}
{% if key == 10 %}
<label style="background-color: #B6D3EF;width: 100%">main()<br>
{  <br>
  int i = 2;  <br>
  {  <br>
    int i = 4, j = 5; <br> 
     printf("%d %d", i, j);  <br>
  }    <br>
  printf("%d %d", i, j);  <br>
}<br>
<label>What will be the output of the program?</label><b style="color: green;">Correct answer is {{vals}}</b><br>
	<input type="radio" name="options10" value="a">4525<br>
	<input type="radio" name="options10" value="b">2525<br>
	<input type="radio" name="options10" value="c">4545<br>{% endif %}</td></tr>


{% endif %}

{% endfor %}
{% endfor %}
{% endfor %}</form></table></center></div>
</body>
</html>