<!DOCTYPE html>
<html>
<head>
	<title>File Handling</title>
</head>
<body>
	{{msg}}
<form action="/upload" method="POST" enctype="multipart/form-data">
	<input type="file" name="file" / >
	<select name = "ear">
		<option>1-1</option>
		<option>1-2</option>
		<option>2-1</option>
		<option>2-2</option>
		<option>3-1</option>
		<option>3-2</option>
		<option>4-1</option>
		<option>4-2</option>
	</select>
	<select name = "mid">
		<option>mid 1</option>
		<option>mid 2</option>
	</select>
	<input type="submit" value="upload">
</form>
</body>
</html>