<!DOCTYPE html>
<html>
<head>
	<title>One-One</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</head>
<body>
	<div class = 'container' align="center" style="margin-top: 20px;">
<form action="/oo" method = 'POST'>
	<table><tr><td>
	<label>English-1</label></td><td><input type="text" name="e1"></td></tr>
	<tr><td>
	<label>Mathematics-1</label></td><td><input type="text" name="m1"></td></tr>
	<tr><td>
	<label>Mathematics-2</label></td><td><input type="text" name="m2"></td></tr>
	<tr><td>
	<label>Applied Physics</label></td><td><input type="text" name="ap"></td></tr>
	<tr><td>
	<label>Computer Programming</label></td><td><input type="text" name="cp"></td></tr>
	<tr><td>
	<label>Engineering Drawing</label></td><td><input type="text" name="ed"></td></tr>
	<tr><td>
	<label>English-Communication lab</label></td><td><input type="text" name="ecl"></td></tr>
	<tr><td>
	<label>Physics lab</label></td><td><input type="text" name="pl"></td></tr>
	<tr><td>
	<label>C programming lab</label></td><td><input type="text" name="cpl"></td>
	<tr><td height="20px;"></td></tr>
	<tr><td align="center">
	<button value="submit" class = 'btn btn-primary'>Submit</button></td></tr>
</form></div>
</body>
</html>