<!DOCTYPE html>
<html>
<head>
	<title>One-One</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</head>
<body>
	<center>
		<div class = 'container' align="center" style="margin-top: 10px;">
<form action="/ot" method = 'POST'>
	<table width="100%">
		<tr style="color:blue;"><td><label>Subjects</label></td><td><label>Enter Marks</label></td></tr>
		<tr><td>
	<label>English-2</label></td><td><input type="text" name="s1"></td></tr>
	<tr><td>
	<label>Mathematics-3</label></td><td><input type="text" name="s2"></td></tr>
	<tr><td>
	<label>Applied chemistry</label></td><td><input type="text" name="s3"></td></tr>
	<tr><td>
	<label>OOP Through C++</label></td><td><input type="text" name="s4"></td></tr>
	<tr><td>
	<label>Environmental Studies</label></td><td><input type="text" name="s5"></td></tr>
	<tr><td>
	<label>Engineering Mechanics</label></td><td><input type="text" name="s6"></td></tr>
	<tr><td>
	<label>Applied Chemistry Laboratory</label></td><td><input type="text" name="l1"></td></tr>
	<tr><td>
	<label>English Communications Skills lab-II</label></td><td><input type="text" name="l2"></td></tr>
	<tr><td>
	<label>C++ programming lab</label></td><td><input type="text" name="l3"></td></tr>
	<tr><td height="20px;"></td></tr>
	<tr><td colspan="2" align="center">
	<button value="submit" class = 'btn btn-primary'>Submit</button></td></tr></div>
</form></center>
</body>
</html>