<!DOCTYPE html>
<html>
<head>
	<title>
		Result Page
	</title>
	<style type="text/css">
		table{
			border-collapse: collapse;
		}
	</style>
</head>
<body>
{% if res2 == "No Data Found"%}
<h1 style="color:green;">Mid-I</h1>

	{% for task in res1.each() %}
{% for a,b in task.val().items() %}

<h1>{{a}} : {{b}}/30</h1><br>
{% endfor %}

<h1 style="color: green;">Mid-II</h1>
<h4>No Data Found</h4>
{% endfor %}
{% else %}
	<table width="100%" border="2px solid black">
<tr>
	<td align="center" style="background: #37517E;
background: linear-gradient(259deg, rgba(255,255,255,1) 34%, rgba(255,235,42,1) 100%);" colspan="2">
	<h3>Mid-I</h3>
{% for task in res1.each() %}
{% for a,b in task.val().items() %}

<h3>{{a}} : {{b}}</h3><br>{% endfor %}{% endfor %}</td>
<td align="center" width="20%" style="background: #37517E;
background: linear-gradient(259deg, rgba(255,255,255,1) 34%, rgba(255,235,42,1) 100%);" colspan="2">

<h3>Mid-II</h3>
{% for task1 in res2.each() %}
{% for k,v in task1.val().items() %}

<h3>{{k}} : {{v}}</h3><br>{% endfor %}{% endfor %}</td></tr>
<tr>
	<td align="center" width="25%" style="background: #37517E;
background: linear-gradient(259deg, rgba(255,255,255,1) 34%, rgba(255,235,42,1) 100%);" >
<h3>80%</h3>
{% for i,j in data.items() %}
{{i}}: {{j}}<br>
{% endfor %}
</td>
	<td align="center" width="25%" style="background: #37517E;
background: linear-gradient(259deg, rgba(255,255,255,1) 34%, rgba(255,235,42,1) 100%);" >
<h3>20%</h3>
{% for i,j in data1.items() %}
{{i}}: {{j}}<br>
{% endfor %}
</td>


	<td align="center" width="25%" style="background: #37517E;
background: linear-gradient(259deg, rgba(255,255,255,1) 34%, rgba(255,235,42,1) 100%);" >
<h3>FINAL TOTAL</h3>
{% for i,j in ft.items() %}
{{i}}: {{j}}<br>
{% endfor %}
</td>
<td align="center" width="25%" style="background: #37517E;
background: linear-gradient(259deg, rgba(255,255,255,1) 34%, rgba(255,235,42,1) 100%);" >
<h3>Result</h3>
{% for i,j in ft.items() %}
{% if j >= 10.0 %}
{{i}} : <img src= "{{url_for('static',filename = 'images/gt.png')}}" width="20px" height="20px"><br>
{% else %}
{{i}} : <img src = "{{url_for('static',filename = 'images/ri.png')}}" width="20px" height="20px"><br>
{% endif %}
{% endfor %}</td>
</tr>
{% endif %}
		<tr><td align="center" colspan="4" height = "50px">
<button><a href = "{{url}}" target = "_blank">Download PDF</a></button></td></tr>
</table>
</body>
</html>
