<!DOCTYPE html>
<html>
<head>
	<title>
		Result Page
	</title>
	<style type="text/css">
		table{
			border-collapse: collapse;
		}
	</style>
</head>
<body>
	<table width="100%">
		<tr><td align="center" width="25%" style="background: rgb(255,255,255);
background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(244,221,39,1) 99%);"><h1>Mid-I</h1>
{% if res1 == "No Data Found"%}
<h1>No Data Found</h1>
{% elif res2 == "No Data Found" %}
<h1>No Data Found</h1>
{% else %}
{% for task in res1.each() %}
{% for a,b in task.val().items() %}
<h4>{{a}} : {{b}}</h4><br>{% endfor %}{% endfor %}</td>
<td align="center" width="25%" style="background: rgb(255,255,255);
background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(244,221,39,1) 99%);"><h1>Mid-II</h1>
{% for task1 in res2.each() %}
{% for k,v in task1.val().items() %}
<h4>{{k}} : {{v}}</h4><br>{% endfor %}{% endfor %}</td>
<td align="center" width="25%" style="background: rgb(255,255,255);
background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(244,221,39,1) 99%);"><h3>80%</h3>
	{% for i,j in data.items() %}
	<h4>{{j}}</h4><br>{% endfor %}
</td>
<td align="center" width="25%" style="background: rgb(255,255,255);
background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(244,221,39,1) 99%);"><h3>20%</h3>
	{% for i,j in data1.items() %}
	<h4>{{j}}</h4><br>{% endfor %}
</td>
</tr>
{% endif %}

</table>
</body>
</html>