<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/sinsertion" method="POST">
        Reg Number : <input type="text" name="regno"> <br>
        Name : <input type="text" name="name"><br>
        Father name : <input type="text" name="father name">  <br>
        Village name : <input type="text" name="village"> <br>
        Transport : <input type="text" name="transport"> <br>
        Status : <input type="text" name="status"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>