<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Python Test paper</title>
	<style type="text/css">
	body{
		background-color: white;
	}
	.logo img{
		width:80%;
		height:120px;
	}
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</head>
<body>
<table width="100%" >
	<tr>
		<td colspan  = "2" align="center" width="100%">
			<div class = "logo">
			<img src = "{{url_for('static',filename = 'images/unnamed.png')}}"></div>
		</td>
	</tr>
	<tr>
		<td align="center" width="50%" height="50px;">
		</td>
		<td  align="center" width="50%">
		</td>
	</tr>
	<tr><td colspan="2" align="center" width="100%">
		<ul class="nav justify-content-center">
		<ul class="nav nav-pills">
   <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/checkmarks">Mid Marks</a>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-primary">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
</svg>
                <a href = "/dashboard" style="color: white;text-decoration: none;">DashBoard</a>
              </button>
  </li>
  
</ul></ul>
	</td></tr>
	<tr>
		<td align="center" width="50%" height="50px;">
		</td>
		<td  align="center" width="50%">
		</td></tr></table>

<center>
<form action = '/radio' method="POST">	
{% for item in lst2 %}
<table width="100%" >
		<tr><td align="center" width="100%" >
{% if item == 0 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;"> What is the maximum possible length of an identifier?</label><br>
	<input type="radio" name="options0" value="a">16<br>
	<input type="radio" name="options0" value="b">32<br>
	<input type="radio" name="options0" value="c">64<br>
	<input type="radio" name="options0" value="d">None of the above<br></td></tr>
<tr><td height="15px"></td></tr>
{% elif item == 1 %}
		<tr><td align="center" width="100%">
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;"> Who developed the Python language?</label><br>
	<input type="radio" name="options1" value="a">Zim Den<br>
	<input type="radio" name="options1" value="b">Guido van Rossum
<br>
	<input type="radio" name="options1" value="c">Niene Stom
<br>
<input type="radio" name="options1" value="c">Wick van Rossum

<br>
</td></tr>
<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item ==2 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">In which year was the Python language developed?</label><br>
	<input type="radio" name="options2" value="a">1995<br>
	<input type="radio" name="options2" value="b">1972<br>
	<input type="radio" name="options2" value="c">1981<br>
	<input type="radio" name="options2" value="d">1989<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 3 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">In which language is Python written?</label><br>
	<input type="radio" name="options3" value="a">English<br>
	<input type="radio" name="options3" value="b">PHP<br>
	<input type="radio" name="options3" value="c">C<br>
	<input type="radio" name="options3" value="d">All of the above<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 4 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">Which one of the following is the correct extension of the Python file?</label><br>
	<input type="radio" name="options4" value="a">.py<br>
	<input type="radio" name="options4" value="b">.txt<br>
	<input type="radio" name="options4" value="c">.html<br>
	<input type="radio" name="options4" value="d">.cpp<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 5 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">In which year was the Python 3.0 version developed?</label><br>
	<input type="radio" name="options5" value="a">2004<br>
	<input type="radio" name="options5" value="b">2008<br>
	<input type="radio" name="options5" value="c">2012<br>
	<input type="radio" name="options5" value="d">2009<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 6 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">What do we use to define a block of code in Python language?</label><br>
	<input type="radio" name="options6" value="a">key<br>
	<input type="radio" name="options6" value="b">brackets<br>
	<input type="radio" name="options6" value="c">identation<br>
	<input type="radio" name="options6" value="d">None of these<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 7 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">Which character is used in Python to make a single line comment?</label><br>
	<input type="radio" name="options7" value="a">/<br>
	<input type="radio" name="options7" value="b">//<br>
	<input type="radio" name="options7" value="c">#<br>
	<input type="radio" name="options7" value="d">!<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 8 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">What is the method inside the class in python language?</label><br>
	<input type="radio" name="options8" value="a">object<br>
	<input type="radio" name="options8" value="b">function<br>
	<input type="radio" name="options8" value="c">attribute<br>
	<input type="radio" name="options8" value="d">argument<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 9 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;">Which of the following statements is correct regarding the object-oriented programming concept in Python?</label><br>
	<input type="radio" name="options9" value="a">Classes are real-world entities while objects are not real<br>
	<input type="radio" name="options9" value="b">Objects are real-world entities while classes are not real<br>
	<input type="radio" name="options9" value="c">Both objects and classes are real-world entities<br>
	<input type="radio" name="options9" value="d">All of the above<br></td></tr>
	<tr><td height="15px"></td></tr>
<tr><td align="center" width="100%">
{% elif item == 10 %}
<label style="background-color: #0D6EFD;width: 100%;padding: 20px; color: white;"> Which of the following is not a keyword in Python language?</label><br>
	<input type="radio" name="options10" value="a">val<br>
	<input type="radio" name="options10" value="b">rise<br>
	<input type="radio" name="options10" value="c">try<br>
	<input type="radio" name="options10" value="d">with<br></td></tr>
	<tr><td height="15px"></td></tr>

{% endif %}

{% endfor %}
</table>
<input type="submit" value=submit style="margin-bottom:  10px;" class="btn btn-primary"></form></center>
</body>
</html>
